# Dependencies
node_modules
pnpm-lock.yaml
npm-debug.log
yarn-error.log

# Turbo
.turbo
dist

# Next.js
.next
out
*.d.ts

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
build
.cache
